html {
  font-size: 56.25%;
}

@media (min-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

body {
  padding: 1.2rem;
  font-size: 1.5rem;
}

.icon-title {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
  gap: 1.2rem;
}
